.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html {
  background-color: #000;
}

body {
  background-color: #000;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

div {
  text-align: center;
  color: white;
}

.topnav {
  background-color: rgb(20, 20, 20);
  overflow: hidden;
  opacity: 100%;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: valorant;
  transition: background-color 0.25s;
}

.topnav a.active {
  background-color: rgb(30, 30, 30);
}

.topnav a:hover {
  background-color: rgb(45, 45, 45);
  animation: flickering 3s linear 1s infinite alternate;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 99%;
}

.sticky + .content {
  padding-top: 60px;
}

@font-face {
  font-family: valorant;
  src: url("/fonts/val_font.ttf");
}

@keyframes flickering {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}

@keyframes load-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes load-h1 {
  from {
    text-shadow: none;
    letter-spacing: normal;
    opacity: 10%;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 25px #fff, 0 0 50px #fff;
    letter-spacing: 20px;
    opacity: 100%;
  }
}

.load-in {
  opacity: 0%;
  animation: load-in 2s ease-in-out 1s 1 forwards;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-family: valorant;
  color: #fff;
  animation: load-h1 2s ease-in-out 0s 1 forwards,
    flickering 3s linear 0s infinite alternate;
}

.link h3 {
  font-size: 25px;
  text-align: center;
  font-family: valorant;
  color: #fff;
  letter-spacing: normal;
  transition: letter-spacing 1s, color 1s;
}

.link {
  border: solid 3px;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, #000, #fff);
  float: left;
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin: 5px 5px 20px 5px;
  background-color: #000;
  transition: background-color 0.25s, height 1s;
}

.link > div {
  opacity: 0%;
  transition: opacity 1s;
}

.link:hover > div {
  opacity: 100%;
}

.link > hr {
  opacity: 0%;
  transition: opacity 1s;
}

.link:hover > hr {
  opacity: 100%;
}

.link > div:nth-of-type(1) {
  opacity: 100%;
}

.link > div:nth-of-type(1) h3 {
  letter-spacing: normal;
  transition: letter-spacing 1s;
}

.link:hover > div:nth-of-type(1) h3 {
  letter-spacing: 7px;
}

.link:hover {
  background-color: rgb(40, 40, 40);
  height: 225px;
  animation: border-ani 2s linear 0s infinite forwards;
}

@keyframes border-ani {
  0% {
    border-image-source: linear-gradient(0deg, #000, #fff);
  }
  25% {
    border-image-source: linear-gradient(90deg, #000, #fff);
  }
  50% {
    border-image-source: linear-gradient(180deg, #000, #fff);
  }
  75% {
    border-image-source: linear-gradient(270deg, #000, #fff);
  }
  100% {
    border-image-source: linear-gradient(360deg, #000, #fff);
  }
}

.link pre {
  margin-top: -15px;
  font-size: 15px;
}
