@font-face {
  font-family: valorant;
  src: url("/fonts/val_font.ttf");
}

html {
  background-image: url("/media/images/laptop_background.jpg");
  background-size: cover;
  background-color: #000;
  background-attachment: fixed;
  background-position: center center;
}

body {
  background-color: #000;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-family: valorant;
  color: #fff;
}
