.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html {
  background-color: #000;
}

body {
  background-color: #000;
}

@font-face {
  font-family: valorant;
  src: url("/fonts/val_font.ttf");
}

@keyframes load-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes load-h1 {
  from {
    text-shadow: none;
    letter-spacing: normal;
    opacity: 10%;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 25px #fff, 0 0 50px #fff;
    letter-spacing: 25px;
    opacity: 100%;
  }
}

@keyframes flickering {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}

h1 {
  font-size: 70px;
  text-align: center;
  font-family: valorant;
  color: #fff;
  animation: load-h1 2s ease-in-out 0s 1 forwards,
    flickering 3s linear 0s infinite alternate;
}

div {
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.container {
  text-align: center;
  font-size: 30px;
  font-family: valorant;
  opacity: 0%;
  animation: load-in 2s ease-in-out 1s 1 forwards;
  display: flex;
  justify-content: center;
}

strong {
  text-shadow: 0 0 0px #fff, 0 0 15px #fff;
  animation: flickering 3s linear 4s infinite alternate;
}

#discord {
  margin-top: 5px;
  width: 50px;
  transition: width 0.5s, margin-top 0.5s;
}

#discord:hover {
  margin-top: 15px;
  width: 75px;
}
